<?xml version="1.0"?>

<model>
  <name>Our Board</name>
  <version>1.0</version>
  <sdf version='1.5'>our_board.sdf</sdf>

  <author>
    <name>Fei Liu</name>
    <email>00001liufei@163.com</email>
  </author>

  <description>
    A plate with three circular holes.
  </description>
</model>