<?xml version="1.0"?>

<model>
  <name>domhof_board</name>
  <version>1.0</version>
  <sdf version='1.6'>domhof_board.sdf</sdf>

  <author>
    <name>Fei Liu</name>
    <email>00001liufei@163.com</email>
  </author>

  <description>
    A plane with three circle shape holes on it.
  </description>
</model>