<?xml version="1.0"?>

<model>
  <name>White Wall</name>
  <version>1.0</version>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Fei Liu</name>
    <email>00001liufei@163.com</email>
  </author>

  <description>
    A white wall.
  </description>

</model>
