<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="livox_zed2">
    <!-- property -->
    <xacro:property name="M_PI" value="3.14159"/>
    <xacro:property name="laser_min_range" value="0.0"/>
    <xacro:property name="laser_max_range" value="20.0"/>
    <xacro:property name="horizontal_fov" value="81.7"/>
    <xacro:property name="vertical_fov" value="25.1"/>
    <xacro:property name="ros_topic" value="scan"/>
    <xacro:property name="samples" value="24000"/>
    <xacro:property name="downsample" value="1"/>

    <!-- velodyne:  vlp16 hdl32 hdl64 -->
    <xacro:arg name="velodyne" default="vlp16"/>
    <xacro:arg name="velodyne_x" default="0.0"/>
    <xacro:arg name="velodyne_y" default="0.0"/>
    <xacro:arg name="velodyne_z" default="0.2"/>
    <xacro:arg name="velodyne_roll" default="0.0"/>
    <xacro:arg name="velodyne_pitch" default="0.0"/>
    <xacro:arg name="velodyne_yaw" default="0.0"/>

    <xacro:arg name="K" default="0"/>
    <xacro:arg name="rate" default="10"/>
    <xacro:property name="K" default="$(arg K)"/>
    <xacro:property name="noise" value="${K * 0.00}" />

    <!-- zed2 -->
    <xacro:arg name="zed2_x" default="0.0"/>
    <xacro:arg name="zed2_y" default="0.0"/>
    <xacro:arg name="zed2_z" default="0.0"/>
    <xacro:arg name="zed2_roll"  default="0.0"/>
    <xacro:arg name="zed2_pitch" default="0.0"/>
    <xacro:arg name="zed2_yaw"   default="0.0"/>

    <!-- base -->
    <link name="world"/>

    <joint name="fixed" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
    </joint>

    <!--    <link name="livox_base"/>-->


    <xacro:macro name="null_inertial">
        <inertial>
            <mass value="0.1"/>
            <inertia ixx="0.01" ixy="0" ixz="0"
                     iyy="0.01" iyz="0"
                     izz="0.01"/>
        </inertial>
    </xacro:macro>
    <xacro:macro name="Livox_Mid_gazebo_sensor" params="visualize:=True update_rate:=10 resolution:=0.002 noise_mean:=0.0 noise_stddev:=0.01 name:=livox">
        <gazebo reference="${name}">
            <sensor type="ray" name="laser_${name}">
                <pose>0 0 0 0 0 0</pose>
                <visualize>${visualize}</visualize>
                <update_rate>${update_rate}</update_rate>
                <!-- This ray plgin is only for visualization. -->
                <plugin name="gazebo_ros_laser_controller" filename="liblivox_laser_simulation.so">
                    <ray>
                        <scan>
                            <horizontal>
                                <samples>100</samples>
                                <resolution>1</resolution>
                                <min_angle>${-horizontal_fov/360*M_PI}</min_angle>
                                <max_angle>${horizontal_fov/360*M_PI}</max_angle>
                            </horizontal>
                            <vertical>
                                <samples>50</samples>
                                <resolution>1</resolution>
                                <min_angle>${-vertical_fov/360*M_PI}</min_angle>
                                <max_angle>${vertical_fov/360*M_PI}</max_angle>
                            </vertical>
                        </scan>
                        <range>
                            <min>${laser_min_range}</min>
                            <max>${laser_max_range}</max>
                            <resolution>${resolution}</resolution>
                        </range>
                        <noise>
                            <type>gaussian</type>
                            <mean>${noise_mean}</mean>
                            <stddev>${noise_stddev}</stddev>
                        </noise>
                    </ray>
                    <visualize>${visualize}</visualize>
                    <samples>${samples}</samples>
                    <downsample>${downsample}</downsample>
                    <csv_file_name>package://livox_laser_simulation/scan_mode/horizon.csv</csv_file_name>
                    <ros_topic>${ros_topic}</ros_topic>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>


    <xacro:macro name="Livox_HORIZON" params="visualize:=True name:=livox">
        <link name="base_link">
            <xacro:null_inertial/>
            <visual>
                <origin xyz="0.00 0 0.00" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://livox_laser_simulation/meshes/livox_mid40.dae">
                    </mesh>
                </geometry>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://livox_laser_simulation/meshes/livox_mid40.dae">
                    </mesh>
                </geometry>
            </collision>
        </link>
        <link name="${name}">
            <xacro:null_inertial/>
        </link>

        <joint name="${name}_to_${name}_base_joint" type="fixed">
            <parent link="base_link"/>
            <child link="${name}"/>
            <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
        </joint>
        <xacro:Livox_Mid_gazebo_sensor name="${name}" visualize="${visualize}"/>
    </xacro:macro>
    <xacro:Livox_HORIZON name="livox"/>

    <!-- zed2 -->
    <xacro:include filename="$(find sensors_description)/urdf/zed2.urdf.xacro"/>
    <xacro:zed2_camera parent="base_link" camera_name="zed2"  noise="0.000">
        <origin xyz="$(arg zed2_x) $(arg zed2_y) $(arg zed2_z)" rpy="$(arg zed2_roll) $(arg zed2_pitch) $(arg zed2_yaw)" />
    </xacro:zed2_camera>

    <!-- livox -->
<!--    <xacro:include filename="$(find livox_laser_simulation)/urdf/livox_mid40.xacro"/>-->
<!--    <xacro:Livox_Mid40 parent="base_link" name="livox_lidar">-->
<!--&lt;!&ndash;        <origin xyz="$(arg zed2_x) $(arg zed2_y) $(arg zed2_z)" rpy="$(arg zed2_roll) $(arg zed2_pitch) $(arg zed2_yaw)" />&ndash;&gt;-->
<!--    </xacro:Livox_Mid40>-->


    <!-- velodyne -->
<!--    <xacro:include filename="$(find sensors_description)/urdf/$(arg velodyne).urdf.xacro"/>-->
<!--    <xacro:velodyne parent="base_link" name="$(arg velodyne)" topic="velodyne_points" rate="$(arg rate)" noise="${noise}">-->
<!--        <origin xyz="$(arg velodyne_x) $(arg velodyne_y) $(arg velodyne_z)" rpy="$(arg velodyne_roll) $(arg velodyne_pitch) $(arg velodyne_yaw)" />-->
<!--    </xacro:velodyne>-->

</robot>