<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="velodyne_xb3">
    <!-- property -->
    <xacro:property name="M_PI" value="3.1415926535897931" />

    <!-- velodyne:  vlp16 hdl32 hdl64 -->
    <xacro:arg name="velodyne" default="vlp16"/> 
    <xacro:arg name="velodyne_x" default="0.0"/>
    <xacro:arg name="velodyne_y" default="0.0"/>
    <xacro:arg name="velodyne_z" default="1.3"/>
    <xacro:arg name="velodyne_roll" default="0.0"/>
    <xacro:arg name="velodyne_pitch" default="0.0"/>
    <xacro:arg name="velodyne_yaw" default="0.0"/>

    <xacro:arg name="K" default="0"/> 
    <xacro:arg name="rate" default="10"/>
    <xacro:property name="K" default="$(arg K)"/> 
    <xacro:property name="noise" value="${K * 0.000}" />

    
    <!-- xb3 -->
    <xacro:arg name="xb3_x" default="0.5"/>
    <xacro:arg name="xb3_y" default="0.0"/>
    <xacro:arg name="xb3_z" default="1.3"/>
    <xacro:arg name="xb3_roll" default="0.0"/>
    <xacro:arg name="xb3_pitch" default="0.0"/>
    <xacro:arg name="xb3_yaw" default="0.0"/>

    <!-- base -->
    <link name="world"/>

    <joint name="fixed" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
    </joint>

    <link name="base_link"/>

    <!-- xb3 -->
    <xacro:include filename="$(find sensors_description)/urdf/bumblebee_xb3.urdf.xacro"/>
    <xacro:xb3_camera parent="base_link" camera_name="xb3" noise="0.007">
        <origin xyz="$(arg xb3_x) $(arg xb3_y) $(arg xb3_z)" rpy="$(arg xb3_roll) $(arg xb3_pitch) $(arg xb3_yaw)" />
    </xacro:xb3_camera>

    <!-- velodyne -->
    <xacro:include filename="$(find sensors_description)/urdf/$(arg velodyne).urdf.xacro"/>
    <xacro:velodyne parent="base_link" name="$(arg velodyne)" topic="velodyne_points" rate="$(arg rate)" noise="${noise}">
        <origin xyz="$(arg velodyne_x) $(arg velodyne_y) $(arg velodyne_z)" rpy="$(arg velodyne_roll) $(arg velodyne_pitch) $(arg velodyne_yaw)" />
    </xacro:velodyne>

</robot>